@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shoeanim{
    0% {left: 1000px;}
    100% {left: -190px;}
}

.shoeAnimation{
    animation-name: shoeanim;
    animation-duration: 2s;
}

